<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      {% comment %} {{name}}
      {% for key in  keys %}
      {{key}}
      {% endfor %}
      {% for key, value in items %}
      {{key}} {{value}}
      {% endfor %} {% endcomment %}

      {{name}} <br>

      {{request.session.get_session_cookie_age}} <br>
      {% comment %} {{request.session.get_expiry_age}} <br> {% endcomment %}
      {{request.session.get_expiry_date}} <br>




</body>
</html>